* {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    color: #fff;
    text-transform: uppercase;
}

h1 {
    letter-spacing: 3px;
    font-size: 350%;
    padding-right: 50%;
    margin-top: 20px 0;
    line-height: 120%;
    
}

h2 {
    font-size: 120%;
}

header {
    padding: 0 5% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    color: #fff;
}

.logo {
    font-size: 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation ul li {
    display: inline-block;
    list-style: none;
    margin-right: 50px;
    font-size: 115%;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.5s;
}

.navigation ul li a:hover{
    color: #FFF600;
}

.navigation ul li:last-of-type{
    margin-right: 0;
}

.navigation ul li:last-of-type a{
    text-transform: uppercase;
}

.section-main {
    background-image: linear-gradient(rgba(248, 6, 6, 0.301), rgba(0, 0, 0, 0.644)), url(img/car.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.horisontal-first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}

.btn {
    color: #fff;
    font-size: 150%;
    text-transform: uppercase;
    display: flex;
    line-height: 150%;
    margin-top: 20px;
}

.btn i {
    margin-left: 15px;
    font-size: 150%;
}

.box {
    display: flex;
    flex-direction: column;
    width: 50%;
}

 .website {
    color: #fff;
}

.right-side {
    display: flex;
    color: #fff;
    flex-direction: column;
    text-align: right;
    width: 50%;
}

.right-side p {
    padding-left: 60%;
}
.right-side h2 {
    margin-bottom: 20px;
    padding-left: 65%;
    font-size: 180%;
}

.socials {
}

.socials ul li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
}

.socials ul li a{
    text-decoration: none;
    color: #fff;
    transition: color 0.5s;
}

.socials ul li a:hover {
    color: #FFF600;
}

.horisontal-second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    
}

